@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  overflow-x: hidden;
 }
.main-home{
  background: linear-gradient(135deg, #0a0c17, #121426, #1a1d36);
  background-size: cover;
  
}
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1; /* Color verde */
  color: #000; /* Color negro del texto */
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 0 100%);
  transition: all 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: #c3e350;
  transform: translateY(-2px);
}

.custom-button:active {
  transform: translateY(0);
}
